<h1>Welcome to My Bookstore!</h1>

<%= form_tag root_path, method: "get" do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search for books..." %>

  <%= select_tag :magazine_id, options_for_select(@magazines.map { |m| [m.title, m.id] }, params[:magazine_id]), include_blank: "Select magazine" %>

  <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Magazines</th>
    </tr>
  </thead>
  <tbody>
    <% @books_with_magazines.each do |book| %>
      <tr>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= book.authors.map(&:name).join(", ") %></td>
        <td>
          <ul>
            <% book.magazines.each do |magazine| %>
              <li><%= link_to magazine.title, magazine_path(magazine) %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @books_with_magazines %>
