<h1>Books</h1>

<%= form_with(url: books_path, method: "get", local: true) do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search books by title" %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Published Date</th>
    </tr>
  </thead>
  <tbody>
  <% if @books.present? %>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book_path(book) %></td>
        <td>
          <% book.authors.each do |author| %>
            <%= author.name %><br> <!-- Display each author's name -->
          <% end %>
        </td>
        <td><%= book.published_date %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="3">No books available</td>
    </tr>
  <% end %>
</tbody>
</table>

<%= paginate @books %> 
